.container {
	font-family: Trebuchet MS;
	font-size: 11px;
	font-weight:: normal;
	color: #F0F6F9;
	background-color: #000029;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	margin-top: 6ex;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	overflow: auto;
}

td {
	background-color: #000029;
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight:: normal;
	color: #F0F6F9;
}

.title {
	background-color: #385C72;
	height: 75px;
}

.menu {
	background-color: #19315E;
	height: 26px;
}

.text, p, td {
	background-color: #000029;
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: normal;
	color: #F0F6F9;
}

.footer {
	background-color: #385C72;
	height: 20px;
	font-family: Trebuchet MS;
	font-size: 10px;
	color: #CCCC33;
}

.pagetitle {
	font-family: Trebuchet MS;
	font-size: 15px;
	font-weight:: bold;
	color: #F0F6F9;
	background-color: #19315E;
}

.tiny {
	font-family: Trebuchet MS;
	font-size: 10px;
	font-weight:: normal;
	color: #0044DD;
}

.tinytable {
	font-family: Trebuchet MS;
	font-size: 10px;
	font-weight:: normal;
	color: #0044DD;
	background-color: #CCCCCC;
}

.newstitle {
	font-family: Trebuchet MS;
	font-size: 19px;
	font-weight:: bold;
	color: #BB1111;
}

.newsdate {
	font-family: Trebuchet MS;
	font-size: 10px;
	font-weight:: normal;
	color: #0044DD;
}

.tacmantitle {
	font-family: Trebuchet MS;
	font-size: 15px;
	font-weight:: bold;
	color: #DD2200;
}

.code {
	font-family: courier;
	font-size: 8px;
}

a:link {
	color: #FF2200;
	text-decoration: none;
}

a:active {
	color: #FF8000;
	text-decoration: none;
}

a:visited {
	color: #FF2200;
	text-decoration: none;
}

a:hover {
	color: #008000;
	text-decoration: underline overline;
}

#menuwrapper {
	background-color: #00006B;
	width: 100%;
}

#menu_vert {
	margin-left: 1px;
	margin-right: 1px;
}

#primary-nav, #primary-nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#primary-nav ul {
	position: absolute;
	top: auto;
	display: none;
}

#primary-nav ul ul {
	margin-top: 1px;
	margin-left: -1px;
	left: 100%;
	top: 0px;
}

#primary-nav li {
	margin-left: -1px;
	float: left;
}

#primary-nav li li {
	margin-left: 0px;
	margin-top: -1px;
	float: none;
	position: relative;
}

/* Styling the basic apperance of the menu elements */
#primary-nav a {
	display: block;
	margin: 0px;
	padding: 5px 10px;
	text-decoration: none;
	color: #F0F6F9;
}

#primary-nav li a {
	border-right: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
}

#primary-nav li li a {
	border: 1px solid #000029;
}

#primary-nav li, #primary-nav li.menuparent {
	background-color: #000029;
}

/* Styling the basic apperance of the active page elements (shows what page in the menu is being displayed) */

#primary-nav li.menuactive {
	background-color: #0000C7;
}

#primary-nav ul li.menuparent,
#primary-nav ul li.menuparent:hover,
#primary-nav ul li.menuparenth {
	/* arrow for menuparents */
	background-image: url(images/cms/arrow.gif);
	background-position: center right;
	background-repeat: no-repeat;
}

/* Styling the apperance of menu items on hover */

#primary-nav li:hover,
#primary-nav li.menuh,
#primary-nav li.menuparenth,
#primary-nav li.menuactiveh {
	background-color: #00006B;
}

table.admin {
	display: table;
	border-spacing: 2px;
}

tr.admin {
	height: 26px;
	width: 252px;
}

td.admin {
	height: 26px;
	width: 252px;
	vertical-align: middle;
	padding: 2px;
	background-color: #000029;
	background-image: url(images/adminbg.png);
	background-position: center left;
	background-repeat: no-repeat;
}

table.alt tr:nth-child(even) {
	background: #19315E
}

table.alt tr:nth-child(even) td {
	background: #19315E
}

table.alt tbody tr:nth-child(even) {
	background: #19315E
}

table.alt tbody tr:nth-child(even) td {
	background: #19315E
}

td.restorebg {
	background-color: #660000;
}
