//@import "../bootstrap/scss/variables";

// https://colorschemedesigner.com/csd-3.5/#3u621hfmtw0w0
// blues
$theme-blue-a: #385c72;
$theme-blue-b: #354956;
$theme-blue-c: #12354a;
$theme-blue-d: #729eb9;
$theme-blue-e: #85a5b9;
// purples
$theme-purple-a: #49427C;
$theme-purple-b: #403D5D;
$theme-purple-c: #1C1651;
$theme-purple-d: #827BBE;
$theme-purple-e: #928DBE;
// greens
$theme-green-a: #3F894C;
$theme-green-b: #3D6744;
$theme-green-c: #155920;
$theme-green-d: #75C483;
$theme-green-e: #8AC494;
// brown
$theme-brown-a: #B38853;
$theme-brown-b: #866e50;
$theme-brown-c: #744c1b;
$theme-brown-d: #d9b281;
$theme-brown-e: #d9bc99;
// yellows
$theme-yellow-a: #b3a453;
$theme-yellow-b: #867e50;
$theme-yellow-c: #74661b;
$theme-yellow-d: #d9cb81;
$theme-yellow-e: #d9cf99;
// reds
$theme-red-a: #B35A53;
$theme-red-b: #865450;
$theme-red-c: #74211B;
$theme-red-d: #D98881;
$theme-red-e: #D99D99;

// Brand Colors
$blue: $theme-blue-b;
$indigo: $theme-purple-a;
$purple: $theme-purple-c;
$pink: $theme-red-d;
$red: $theme-red-c;
$orange: #fd7e14;
$yellow: #ebb100;
$green: $theme-green-c;
$teal: $theme-green-a;
$cyan: $theme-blue-a;
$white: #fff;

$theme-colors: (
  primary: $blue,
  secondary: $purple,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $theme-blue-e,
  dark: $theme-blue-a
);
$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white
);

// Body
$body-bg: $theme-blue-b;
$body-color: $white;

$jumbotron-bg: $theme-blue-c;

@import "../bootstrap/scss/bootstrap";
